.sidebarOpener {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    margin-top: 10px;
}

.sidebarOpener i {
    font-size: 25px;
}

.sidebarOpener .btn {
    margin: 0 3px;
}